

.wrap{
	width: 90%;
	max-width: 1000px;
	/*margin:auto;*/
}

.widget{
	width: 40%;
	margin: 2em;
	/*margin:32px;*/
}

.widget p {
display: inline-block;
line-height: 0.5em;
}

.fecha{
	color: #fff;
	font-family: Arial;
	text-align: center;
	font-size: 1em;
	margin-bottom: 0.3125rem;
	/*margin-bottom: 5px;*/
	background: rgba(0,0,0,.5);
	padding: 20px;
	width: 100%;

}

.reloj{
	font-family: Arial;
	width: 100%;
	padding: 20px;
	font-size: 1em;
	text-align: center;
	background: rgba(0,0,0,.5);
	color: #fff;
	

}

.reloj .caja-segundos{
	display: inline-block;
}

.reloj .segundos,reloj .ampm{
	font-size: 1rem;
	display: block;
}
