*{
    margin: 0;
    padding: 0;
}

body{
    background: #E9ECF4;
    color: #000;
    font-family:'Roboto', sans-serif;
   }

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto; 
    display: grid;
    grid-gap: 20px; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto); 
    grid-template-areas: "header header header"
                        "nav nav nav"
                         "contenido contenido sidebar" 
                         "wridget-1 wridget-2 sidebar"
                         "footer footer footer";    
}
.contenedor > div,
.contenedor > .contenido,
.contenedor > .header,
.contenedor > .footer,
.contenedor > .sidebar,
.contenedor > nav{
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}
.contenedor .header{
    background: #12203E;
    color: #fff;
    grid-area: header;

}
.contenedor nav{
    background: #12203E;
    color: #fff;
    grid-area: nav;

}

.contenedor .contenido{
grid-area: contenido;
text-align: center;
}
.contenedor .sidebar{
    grid-column: 3 / 4 ;
    background: #faa43d;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sidebar;

}

.contenedor .wridget-1, 
.contenedor .wridget-2{
    background: #55a8fd;
    color: #fff;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor .wridget-1{
    grid-area: wridget-1;
}
.contenedor .wridget-2{
    grid-area: wridget-2;
}

.contenedor .footer{
    background: #12203e;
    color: #fff;
    grid-area: footer;
  
}
@media screen and (max-width: 768px){

        .contenedor{
            grid-template-areas: "header header header"
            "nav nav nav"
            "contenido contenido contenido"
            "sidebar sidebar sidebar" 
            "wridget-1 wridget-1 wridget-2"
            "footer footer footer";   
        }

}

.imagen{
    float: left;
}

